<div class="container-fluid">
    <div class="row">
        <div class="col-4" *ngFor="let product of products">
            <fm-vertical-card class="mx-2" img={{product.img}} sku={{product.sku}} description={{product.description}}
                [price]='product.price'>
                Loading...
            </fm-vertical-card>
        </div>
    </div>

    <div class="container-fluid">
        <div *ngFor="let product of products">
            <fm-horizontal-card class="m-5" img={{product.img}} sku={{product.sku}} description={{product.description}}
                [price]='product.price'>Loading ...
            </fm-horizontal-card>
        </div>
    </div>

    <div class="container-fluid border-bottom">
        <div *ngFor="let product of products">
            <fm-item-row sku={{product.sku}} description={{product.description}} [price]='product.price'>
                Loading...
            </fm-item-row>
        </div>
    </div>
</div>