<div class="card">
    <div class="row">
        <div class="col-5">
            <span class="position-absolute top-0 start-0 badge mt-4 px-4">New!</span>
            <img src={{img}} class="card-img-top px-5">
        </div>

        <div class="col-7">
            <div class="card-body ps-0 pb-0">
                <p class="card-text ps-0 py-0">SKU: {{sku}}</p>
            </div>

            <div class="card-body ps-0 py-0">
                <a href="#" class="card-link">{{description}}</a>
            </div>

            <h5 class="card-title ps-0 pb-0">Our Price: ${{price}}</h5>

            <button type="button" class="btn btn-primary">Add to card</button>
        </div>

    </div>
</div>