<div class="card">
    <div class="row">
        <div class="col-5">
            <span class="position-absolute top-0 start-0 badge mt-4 px-4">New!</span>
            <img src="./assets/thumbnail1.jpeg" class="card-img-top px-5">
        </div>

        <div class="col-7">
            <div class="card-body ps-0 pb-0">
                <p class="card-text ps-0 py-0">SKU: DLB6594</p>
            </div>

            <div class="card-body ps-0 py-0">
                <a href="#" class="card-link">Light Cream 100% Cotton Denim Twill - NY Designer - 58W</a>
            </div>

            <h5 class="card-title ps-0 pb-0">Our Price: $16.99</h5>

            <button type="button" class="btn btn-primary">Add to card</button>
        </div>

    </div>
</div>