<div class="row border-top align-items-center">
    <div class="col-2">
        {{sku}}
    </div>

    <div class="col-3">
        <a href="#" class="card-link">{{description}}</a>
    </div>

    <div class="col-2 p-4">
        <p class="text-white text-center align-middle mx-4 my-0">
            New!
        </p>

    </div>

    <div class="col-3">
        Our Price: ${{price}}
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-white">
            <svg class="bi" width="20" height="20" fill="currentColor">
                <use xlink:href="./assets/bootstrap-icons.svg#heart" />
            </svg>
        </button>
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-primary basket-button">
            <svg class="bi" width="20" height="20" fill="currentColor">
                <use xlink:href="./assets/bootstrap-icons.svg#basket" />
            </svg>
        </button>
    </div>
</div>