<div class="row border-top">
    <div class="col-2">
        DLB6594
    </div>

    <div class="col-3">
        <a href="#" class="card-link">Light Cream 100% Cotton Denim Twill - NY Designer - 58W</a>
    </div>

    <div class="col-2">
        New!
    </div>

    <div class="col-3">
        Our Price: $16.99
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-light">
            <svg class="bi" width="32" height="32" fill="currentColor">
              <use xlink:href="./assets/bootstrap-icons.svg#heart"/>
            </svg>
          </button>
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-primary basket-button">
            <svg class="bi" width="32" height="32" fill="currentColor">
              <use xlink:href="./assets/bootstrap-icons.svg#basket"/>
            </svg>
          </button>
    </div>
</div>