.card-link {
    text-decoration: none;
    color: gray;
}

.card-link:hover {
    color: #652f8c;
}

.basket-button {
    background-color: #652f8c;
    border-style: none;
}

.text-white {
    background-color: #4b3c35;
}