<div class="card">
    <span class="position-absolute top-0 start-0 badge bg-secondary mt-4">New!</span>
    <img src="./assets/thumbnail1.jpeg" class="card-img-top px-4">
    
    
    <div class="btn-group position-absolute bottom-50 start-0" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">Left</button>
        <button type="button" class="btn btn-primary">Right</button>
    </div>
    

    <div class="card-body ps-0 pb-0">
      <h5 class="card-title ps-0 pb-0">Our Price: $16.99</h5>
      <p class="card-text ps-0 py-0">SKU: DLB6594</p>
    </div>

    <div class="card-body ps-0 py-0">
      <a href="#" class="card-link">Light Cream 100% Cotton Denim Twill - NY Designer - 58W</a>
    </div>
  </div>