<fm-topnavbar>Loading...</fm-topnavbar>

<fm-second-topnavbar>Loading...</fm-second-topnavbar>

<fm-promotions-carousel>Loading...</fm-promotions-carousel>

<div class="container-fluid d-flex">
    <fm-category-card>Loading...</fm-category-card>
    <fm-category-card>Loading...</fm-category-card>
    <fm-category-card>Loading...</fm-category-card>
    <fm-category-card>Loading...</fm-category-card>
</div>

<div class="container-fluid d-flex">
    <fm-vertical-card class="mx-2">Loading...</fm-vertical-card>
    <fm-vertical-card class="mx-2">Loading...</fm-vertical-card>
    <fm-vertical-card class="mx-2">Loading...</fm-vertical-card>
</div>

<div class="container-fluid">
    <fm-horizontal-card class="m-5">Loading ...</fm-horizontal-card>
    <fm-horizontal-card class="m-5">Loading ...</fm-horizontal-card>
</div>

<div class="container-fluid">
    <fm-item-row >Loading...</fm-item-row>
    <fm-item-row >Loading...</fm-item-row>
</div>

<fm-footer>Loading...</fm-footer>
<fm-social-footer>Loading...</fm-social-footer>