<fm-topnavbar>Loading...</fm-topnavbar>

<fm-second-topnavbar>Loading...</fm-second-topnavbar>

<fm-promotions-carousel>Loading...</fm-promotions-carousel>

<div class="container-fluid d-flex">
    <fm-category-card>Loading...</fm-category-card>
    <fm-category-card>Loading...</fm-category-card>
    <fm-category-card>Loading...</fm-category-card>
    <fm-category-card>Loading...</fm-category-card>
</div>

<div class="container-fluid d-flex">
    <fm-vertical-card class="mx-2" img="./assets/thumbnail1.jpeg" [price]=10 sku="DLB6594"
        description="Light Cream 100% Cotton Denim Twill - NY Designer - 58W">Loading...
    </fm-vertical-card>

    <fm-vertical-card class="mx-2" img="./assets/thumbnail2.jpeg" [price]=19.99 sku="MGD6706"
        description="Dark Shadow Gray/Black 100% Cotton Twill Jacketing - NY Designer - 60W">Loading...
    </fm-vertical-card>
    
    <fm-vertical-card class="mx-2" img="./assets/thumbnail3.jpeg" [price]=16.99 sku="DCD6611d"
        description="Fern Green 100% Cotton Twill Bottom Weight - NY Designer - 62W">Loading...
    </fm-vertical-card>
</div>

<div class="container-fluid">
    <fm-horizontal-card class="m-5">Loading ...</fm-horizontal-card>
    <fm-horizontal-card class="m-5">Loading ...</fm-horizontal-card>
</div>

<div class="container-fluid border-bottom">
    <fm-item-row>Loading...</fm-item-row>
    <fm-item-row>Loading...</fm-item-row>
</div>

<fm-footer>Loading...</fm-footer>
<fm-social-footer>Loading...</fm-social-footer>