<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link" routerLink="designer-fabrics" href="#" id="designerFabricsDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    DESIGNER FABRICS
                </a>

                <ul class="dropdown-menu text-center" aria-labelledby="designerFabricsDropdown">
                    <li class="nav-item">
                        <a [routerLink]="['designer-fabrics/', {outlets: {right: 'Designer-Linen', left: 'product-filter-form'}}]"
                            routerLinkActive="active" class="dropdown-item" href="#">
                            Designer Quality Linen
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="nav-item">
                        <a [routerLink]="['designer-fabrics/', {outlets: {right: 'famous-dress-designer', left: 'product-filter-form'}}]" routerLinkActive="active"
                            class="dropdown-item" href="#">
                            Famous Dress Designer
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="nav-item">
                        <a [routerLink]="['designer-fabrics/', {outlets: {right: 'high-end-designer', left: 'product-filter-form'}}]" routerLinkActive="active"
                            class="dropdown-item" href="#">
                            High-End Designer Label
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="salesClearanceDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    SALES/CLEARANCE FABRIC
                </a>

                <ul class="dropdown-menu text-center" aria-labelledby="salesClearanceDropdown">
                    <li class="nav-item">
                        <a class="dropdown-item" href="#">
                            As Is
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="nav-item">
                        <a class="dropdown-item" href="#">
                            60% Off Fabric
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="nav-item">
                        <a class="dropdown-item" href="#">
                            Bundle Offers
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    FABRICS A-D
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    FABRICS E-O
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    FABRICS P-Z
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    SEWING ROOM
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    JULIE'S PICK CLUB
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    NEW ARRIVALS
                </a>
            </li>
        </ul>
    </div>
</nav>