.fm {
    outline-style: solid;
    outline-color:lightslategray;
    border-radius: 0%;
}

.fm:hover {
    outline-color:purple;
    color:purple;
}

.input-group-text {
    background-color: white;   
}