<nav class="navbar">
    <div class="container">
        <button class="btn fm" type="submit">Sign in / Sign up</button>

        <a class="navbar-brand" href="#">
            <img src="assets/fabric-mart-purple-logo.png" alt="" height="60">
        </a>

        <div class="d-flex">
            <form>
                <div class="input-group border-bottom">
                    <input type="text" class="form-control border-0" placeholder="Search items ...">
                    <span class="input-group-text border-0">
                        <svg class="bi" width="24" height="24" fill="currentColor">
                            <use xlink:href="assets/bootstrap-icons.svg#search" />
                        </svg>
                    </span>
                </div>
            </form>

            <svg class="bi m-2" width="24" height="24" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#cart" />
            </svg>
            <div class="my-2">
                0
            </div>
        </div>
    </div>
</nav>